<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Preview</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
	    <div class="row">
	        <div class="col-sm-9 col-sm-offset-0 col-md-9 col-md-offset-2 main">
	        	<br>
			    <h1><%- title %></h1>
			    <p><%- body %></p>
			</div>
		</div>
	</div>
  </body>
</html>